<mat-toolbar>
  <div class="branding">
    <span class="logo">Spare Devices</span>
    <span class="tagline">Donate Essential Equipment to Fight COVID-19</span>
  </div>
  <div class="example-spacer"></div>
  <button mat-icon-button class="right-aligned" color="white" aria-label="Create an item" (click)="login()">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>

<section class="page-content">

  <div class="info-box">
    <p *ngIf="!loggedIn">To list an item, please sign in.</p>
    <p *ngIf="loggedIn">If you can provide something, please click add item.</p>
    <button disabled="{{!loggedIn}}" mat-button color="accent" aria-label="Create an item"
            (click)="createItem()">
      <mat-icon>add</mat-icon>
      Add Item
    </button>
  </div>

  <div>
    <mat-form-field appearance="fill">
        <mat-label>I am looking for...</mat-label>
      <mat-select [(ngModel)]="selection" (selectionChange)="updateItems()">
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="position === undefined">
    <h1>Loading Location...</h1>
  </div>

  <div *ngIf="position === null">
    <h3>Unable to get Location... Please ensure location services are enabled for near by results.</h3>
  </div>

  <div class="item-list">
    <div *ngFor="let item of items">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>
            <span class="option">{{item.option}}</span>
            {{item.type}}
          </mat-card-title>
          <mat-card-subtitle>Posted on {{item.lastUpdatedDateTime | date}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="summary">
            <div><span>Posted by</span> <b>{{item.name}}</b></div>
            <div><span>Location</span> <b>{{item.city}}</b></div>
          </div>
          <pre>{{item.description}}</pre>
        </mat-card-content>
        <mat-card-actions *ngIf="user?.username !== item.username">
          <button (click)="delete(item.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</section>
