.title {
  color: green;
  margin-left: 10px;
}

.example-spacer {
  flex: 1 10px;
}

div {
  padding: 10px;
}

mat-form-field {
  width: 100%;
}

.right-aligned {
  alignment: right;
}

pre {
  margin-outside: 20px;
}

mat-list-item {
  width: 100px;
  height: auto;
}

.header-image {
  background-image: url('https://www.flaticon.com/svg/vstatic/svg/2160/2160215.svg?token=exp=1620215919~hmac=2c508d8b0355744f08cbfbd0288d2393');
  background-size: cover;
}

.namste-ava {
  background-image: url('https://www.flaticon.com/svg/vstatic/svg/3100/3100818.svg?token=exp=1620218073~hmac=c2dba38b1e25877fafac7587f7beea97');
  background-size: cover;
}
