.example-spacer {
  flex: 1 10px;
}

div {
  padding: 10px;
}

mat-form-field {
  width: 100%;
}

.right-aligned {
  alignment: right;
}

pre {
  margin-outside: 20px;
}

mat-list-item {
  width: 100px;
  height: auto;
}
