<mat-toolbar>
  <span>Spare Devices</span>
  <span class="example-spacer"></span>
  <span>Lat: {{position?.latitude}} | Long: {{position?.longitude}}</span>
  <button disabled="{{!loggedIn}}" mat-icon-button color="primary" aria-label="Create an item" (click)="createItem()">
    <mat-icon>create</mat-icon>
  </button>
  <button mat-icon-button color="primary" aria-label="Create an item" (click)="login()">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>

<br>

<mat-form-field appearance="fill">
  <mat-label>Type</mat-label>
  <mat-select [(ngModel)]="selection" (selectionChange)="updateItems()">
    <mat-option *ngFor="let type of types" [value]="type.value">
      {{type.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-list *ngIf="position !== undefined && position !== null">
  <div mat-subheader>Items</div>
  <mat-list-item *ngFor="let item of items">
    <mat-icon mat-list-icon>near_me</mat-icon>
    <div mat-line>{{item.option}} | {{item.type}} | Posted by {{item.name}}</div>
    <div mat-line>{{item.city}} | {{item.description}}</div>
  </mat-list-item>
</mat-list>

<div *ngIf="position === undefined">
  <h1>Loading Location...</h1>
</div>

<div *ngIf="position === null">
  <h1>Unable to get Location... Please ensure location services are enabled.</h1>
</div>

