<h1 mat-dialog-title>Create Item</h1>
<div mat-dialog-content *ngIf="newItemForm">
  <form [formGroup]="newItemForm">

    <mat-form-field appearance="fill">
      <mat-label>Contact Person Name</mat-label>
      <input formControlName="name" matInput type="text" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>City/Town</mat-label>
      <input formControlName="city" matInput type="text" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" required></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" required>
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Options</mat-label>
      <mat-select formControlName="option" required>
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div mat-dialog-action align="end">
      <button mat-raised-button color="accent" [mat-dialog-close]="newItemForm" cdkFocusInitial [disabled]="newItemForm.invalid">Create</button>
    </div>
  </form>
</div>
